apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-ds-loki
  namespace: observability
  labels: { grafana_datasource: "1" }
data:
  loki.yaml: |
    apiVersion: 1
    datasources:
    - name: Loki
      type: loki
      access: proxy
      url: http://loki:3100
      isDefault: false
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-ds-jaeger
  namespace: observability
  labels: { grafana_datasource: "1" }
data:
  jaeger.yaml: |
    apiVersion: 1
    datasources:
    - name: Jaeger
      type: jaeger
      access: proxy
      url: http://simplest-query:16686
